@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url(header.css);
@import url(services.css);
@import url(who_we_are.css);
@import url(footer.css);
*,*::before, *::after {
    box-sizing: border-box; /*evita que las cajas se desborden*/
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #F5EFE3;
    --secundary-color: #4F5B2A;
    --tertiary-color: #B8892D;
    --other-color:#D8C9A8;
    --white: #ffff;
    --black: #0000;
}

/*todo lo puesto aca afecta al body de html*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--main-color);
    font-family: "Newsreader", serif; }

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--other-color);
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--secundary-color);
    font-size: 18px;
}

/*listas */
ul {
    list-style: none; }
/*enlaces*/
a {
    color:var(--white);
    text-decoration: none;
}