/*services*/
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.services .col {
    margin-top: 38px;
}
.services h3 {
    font-size: 42px;
    font-weight: bold;
    color: var(--tertiary-color);
}
.services i {
    color: var(--white);
    font-size: 48px;
}
.title {
    text-align: center;
}

.title h2 {
    font-size: 48px;
    color: var(--white);
    line-height: 1.5em;
}

.services i:hover{
    color: var(--secundary-color);
}